.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

fieldset {
  text-align: center;
}
fieldset #result{
  background:#5a82cc;
  padding: 10px;
  margin-top: 20px;
  font-size: 2em;
  border-radius: 9px;
  color:white;
  opacity: .7;
  cursor: copy;
}

fieldset #result :hover{
  text-shadow: #326ee7;
}
.copy-img{
  height: 40px;
  width: 40px;
}
.copy-img :hover{
  transform: rotate(360deg);
  transform: scale(3);
}


.page1{
  height: 65vh;
}
.active{
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  float: right;
}