@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Bellota&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
h1{
font-family: 'Bellota', cursive;
}
p{
  font-family: 'Vollkorn', serif;

}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.brand {
  size: 1.5em;
}
.navbar-brand{
  margin-top: 0;
}
.text-field{

}
.nav-logo{
  max-height: 30px;
  max-width: 30px;
}
.col-10{
  padding: 0;
}
.col-10 input{
  height: 4em;
} 
.col-2{
  padding: 0;

}
.col-2 .btn{
width: 100%;
height: 4em;

}
/* footer style */
footer{
  background: black !important;
  color: white;
  padding-top: 30px;
  padding: 30px 0 30px 0;
}
i{
color: white !important;
margin: 5px;
}  

#social i{
    transition: transform 1s;

}
#social i:hover {


    transform: translateY(-10px) translateX(5px) scale(1.3)  rotate(360deg);
    /* transform: scale(1.3);  */
  }

